* {
    font-family: 'Roboto' , "Roboto Light", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
}



#footer {
    background-color: #F3F3F3;

}

#footer a {
    text-decoration: none;
    color: black;
}

#footer p{
    color: gray;
}


.btn-primary{
    background-color: #4F418B;
    border: 1px solid white;
}

.btn-primary:hover{
    background-color: #261f68;
    color: white;
    border: 1px solid white;
}
.btn-primary:active:focus {
    background-color: #261f68;
    border: 3px solid #473B7D;
}


.tableHead{
    background-color: #564797;
}

.tableHead th{
    border-bottom: white;
    color: white;
    border-radius: 5px;

}
.card-footer{
    background: white;
    border-top: 0px;
}
.card-img-top{
    object-fit: cover;
    width: 100%;

}
