<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<EventsList>
  <Event>
    <ID>0</ID>
    <name>Gandalf‘s birthday </name>
    <location>Mount Doom</location>
    <fromDate>
      <day>19</day>
      <month>1</month>
      <year>2023</year>
    </fromDate>
    <fromHours>15</fromHours>
    <fromMinutes>0</fromMinutes>
    <toDate>
      <day>20</day>
      <month>1</month>
      <year>2023</year>
    </toDate>
    <toHours>0</toHours>
    <toMinutes>0</toMinutes>
    <description>Bring costumes !</description>
    <playersIDs/>
    <comment>I need to prepare food for 20 people</comment>
    <link>https://lotr.fandom.com/wiki/Mount_Doom</link>
  </Event>
  <Event>
    <ID>1</ID>
    <name>Creation of new ring</name>
    <location>Minas Thirit</location>
    <fromDate>
      <day>28</day>
      <month>1</month>
      <year>2022</year>
    </fromDate>
    <fromHours>16</fromHours>
    <fromMinutes>0</fromMinutes>
    <toDate>
      <day>30</day>
      <month>1</month>
      <year>2023</year>
    </toDate>
    <toHours>18</toHours>
    <toMinutes>0</toMinutes>
    <description/>
    <playersIDs>
      <ID>5</ID>
      <ID>4</ID>
      <ID>3</ID>
    </playersIDs>
    <comment/>
    <link/>
  </Event>
</EventsList>
